{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 0.25%, not dead" // Targeting browsers with more than 0.25% usage and not outdated
        },
        "bugfixes": true, // Apply optimizations
        "modules": false // Keep ES modules
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-logical-assignment-operators"
  ]
}

